html {
    /*background-color: #e6eaef;*/
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

nav {
    background-color: rgb(51, 51, 51) !important;
}

nav a {
    text-decoration: none;
    color: #ddd !important;
}

body #container {
    width: 100%;
    padding-top: 70px;
    background-color: white;
}

body #viz {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 90%;
    height: 400px;
}

.highcharts-container {
    /*border: 1px solid gray;*/
}

.margin {
    margin-right: 30px;
    margin-left: 30px;
}

.center {
    margin: 0 auto;
}

#add-flight-form {
    width: 800px;
}

.focus:focus {
    outline: -webkit-focus-ring-color auto 5px;
}

.hidden {
    display: none;
}

#loading-bar-container {
    position: relative;
}

#loading-bar {
    -webkit-transition: none;
    transition: none;
}

#loading-bar-container > span {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    /* vertical-align: middle; */
    color: gray;
}

.autocomplete-suggestions {
    width: 300px !important;
    font-size: 14px;
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }