<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="static/js/jquery-2.1.1.min.js"></script>
        <script src="static/js/highcharts.js"></script>
        <script src="static/js/jquery.autocomplete.js"></script>
        <script type="text/javascript" src='static/js/viz.js'></script>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

        <script type="text/javascript" src='static/js/semantic.min.js'></script>
        <link rel="stylesheet" type="text/css" href="static/css/semantic.min.css">

        <link rel="stylesheet" type="text/css" href="static/css/application.css">
        <title>Icarus</title>
        <!-- <link rel="stylesheet" href="css/style.css"> -->
        <!-- <link rel="author" href="humans.txt"> -->
    </head>
    <body>
        <nav class='ui fixed blue secondary pointing menu'>
            <div class='active item'>
                <a href="#"><i class='large flight basic icon'></i>Flights</a>
            </div>
            <div class='item'>
                <a href="#"><i class='large user basic icon'></i>Account</a>
            </div>
        </nav>
        
        <div id="container" class='ui grid'>
            <div id='viz'></div>
        </div>
        <div id='add-flight-form' class='center'>
            <div class='ui form fluid margin'>
                <div class='three fields'>
                    <div class="ui input four wide field">
                        <input type="text" placeholder="Origin" name='origin' tabindex='1' class='ac'>
                    </div>
                    <div class="ui input four wide field">
                        <input type="text" placeholder="Destination" name='destination' tabindex='2' class='ac'>
                    </div>
                    <div class="ui input four wide field">
                        <input type="text" placeholder="Days" name='days' tabindex='3'>
                    </div>
                    <button tabindex="4" class="ui blue button focus" id='add-flight'>Add Flight</button>
                </div>
            </div>
            <div class="ui blue active striped progress hidden" id='loading-bar-container'>
                <span class='center'>scraping data</span>
                <div class="bar" id='loading-bar'></div>
            </div>

        </div>
    </body>
</html>