<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="static/js/jquery-2.1.1.min.js"></script>
        <script src="static/js/highcharts.js"></script>
        <script type="text/javascript" src='static/js/viz.js'></script>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

        <script type="text/javascript" src='static/js/semantic.min.js'></script>
        <link rel="stylesheet" type="text/css" href="static/css/semantic.min.css">

        <link rel="stylesheet" type="text/css" href="static/css/application.css">
        <title>Icarus</title>
        <!-- <link rel="stylesheet" href="css/style.css"> -->
        <!-- <link rel="author" href="humans.txt"> -->
    </head>
    <body>
        <nav class='ui fixed blue secondary pointing menu'>
            <div class='active item'>
                <a href="#"><i class='large home basic icon'></i>Flights</a>
            </div>
            <div class='item'>
                <a href="#"><i class='large user basic icon'></i>Account</a>
            </div>
        </nav>
        
        <div id="container" class='ui grid'>
            <div id='viz'></div>
        </div>
        <div id='add-flight-form'>
            <div class='ui form fluid margin'>
                <div class='three fields'>
                    <div class="ui input four wide field">
                        <input type="text" placeholder="Origin" name='origin'>
                    </div>
                    <div class="ui input four wide field">
                        <input type="text" placeholder="Destination" name='destination'>
                    </div>
                    <div class="ui input four wide field">
                        <input type="text" placeholder="Days" name='days'>
                    </div>
                    <button tabindex="1" class="ui blue button" id='add-flight'>Add Flight</button>
                </div>
            </div>
            <div class="ui blue striped progress hidden" id='loading-bar-container'>
              <div class="bar" id='loading-bar'></div>
            </div>
        </div>
    </body>
</html>